$font: 'Heebo', 'lato', 'Helvetica Neue', sans-serif;
$relier-green: #248e7b;
$relier-white: #ffff;
$relier-dark-gray: #A3A5A7;
$relier-light-gray: #FCFCFC;

body {
  margin: 0;
  font-family: $font;
  
  .app-headbar {
      background-color: $relier-green;
    min-height: 10vh;
  }

  .app-sidebar{
    background-color: $relier-white;
    min-height: 100vh;
    font-size: 14px;
    color: $relier-dark-gray;
  }

  .app-content{
    background-color: $relier-light-gray;
    min-height: 100vh;
  }

}

/* Component */
/* button */
.ui.button.green-button{
  background-color: $relier-green;
  color: $relier-white;
}

/* Text */
.white-text{
  color: $relier-white;
  font-weight: bold;
}

/* Layouting */
.no-padding{
  padding: 0% !important;
}

.no-margin{
  margin: 0% !important;
}

.add-ten-padding-top{
  padding-top: 10vh;
}

.add-eight-padding-top{
  padding-top: 8vh;
}

.add-five-padding-top{
  padding-top: 5vh;
}

.add-ten-margin-top{
  margin-top: 10vh;
}

.add-eight-margin-top{
  margin-top: 8vh;
}

.add-five-margin-top{
  margin-top: 5vh;
}

.add-ten-margin-bottom{
  margin-bottom: 10vh;
}

.add-eight-margin-bottom{
  margin-bottom: 8vh;
}

.add-five-margin-bottom{
  margin-bottom: 5vh;
}

.add-two-margin-bottom{
  margin-bottom: 2vh;
}