body {
  margin: 0;
  font-family: 'Heebo', 'lato', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Component */
.app-headbar {
  background-color: #248e7b;
  min-height: 10vh;
}

.app-sidebar{
  background-color: white;
  min-height: 100vh;
  font-size: 14px;
  color: #A3A5A7;
}

.app-content{
  background-color: #FCFCFC;
  min-height: 100vh;
}

/* Layouting */
.no-padding{
  padding: 0% !important;
}

.no-margin{
  margin: 0% !important;
}

.add-ten-padding-top{
  padding-top: 10vh;
}

.add-eight-padding-top{
  padding-top: 8vh;
}

.add-five-padding-top{
  padding-top: 5vh;
}

.add-ten-margin-top{
  margin-top: 10vh;
}

.add-eight-margin-top{
  margin-top: 8vh;
}

.add-five-margin-top{
  margin-top: 5vh;
}